.wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.label {
	margin-right: 12px;
}

.select {
	height: 30px;
	background: none;
    border-radius: 4px;
}