.input {
	font-size: 15px;
    height: 30px;
    width: 95%;
    padding: 2px 10px;
    display: block;
    margin: auto;
    border-radius: 4px;
}

.warning {
	border: 2px solid red;
}

.warningText {
	color: red;
	display: block;
    margin-top: 3px;
}